configuration {
  display-drun:       "Applications";
  show-icons:         true;
  icon-theme:         "Papirus";
  font:	              "Cairo Semibold 12";
}

@theme "~/.config/rofi/theme.rasi"
@import "~/.config/rofi/gruvbox.rasi"

